@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
:root {
  --white: #ffffff;
  --blue: #1e88f5;
  --yellow: #ffcc01;
  --text-color: #0d253e;
  --border-color: #e8edf2;
  --circle-color: #f4f8fc;

  --fs-14: 14px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-20: 20px;

  --inline-block: inline-block;
  --block: block;
  --none: none;
}
a {
  text-decoration: none;
}
button {
  border: 0;
  border-color: transparent;
  outline: 0;
}
ol,
li {
  list-style: none;
}
.text-color {
  color: var(--text-color);
}
.primary-bg-color {
  background-color: var(--blue);
}
.primary-box-shadow {
  box-shadow: 0 2px 30px 0 rgba(30, 136, 245, 0.3);
}
.primary-color {
  color: var(--blue);
}
.secondary-bg-color {
  background-color: var(--yellow);
}
.secondary-box-shadow {
  box-shadow: 0 2px 30px 0 rgba(255, 204, 1, 0.3);
}
.secondary-color {
  color: var(--yellow);
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.float-l {
  float: left;
}
.float-r {
  float: right;
}
.new-for-mobi {
  display: none;
}
.menu-icon {
  display: none;
}
.nav-holder {
  padding: 41px 30px;
  position: absolute;
  width: 100%;
  z-index: 5;
}
.logo {
  display: inline-block;
  height: 20px;
  width: 132px;
  font-size: var(--fs-20);
  font-weight: bold;
  color: var(--white);
  letter-spacing: 4px;
  margin: 18px 0;
}

.nav-items {
  font-size: var(--fs-18);
  font-weight: 500;
  letter-spacing: 1px;
  text-shadow: 0 1px 30px rgba(8, 35, 63, 0.5);
  margin-right: 58px;
  color: var(--white);
}
.nav-btn {
  display: inline-block;
  font-size: var(--fs-18);
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--white);
  background-color: var(--yellow);
  padding: 17px 27px 18px 29px;
  border-radius: 4px;
  box-shadow: 0 0 20px 0 rgba(254, 203, 1, 0.4);
  border: 0;
  cursor: pointer;
}
/* *************************** */
.hero__bg {
  background-image: linear-gradient(
      to bottom,
      #071a2e -40%,
      rgba(24, 79, 136, 0.3)
    ),
    url(img/hero-4@2x.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.hero {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 731px;
}
.hero__desc {
  font-size: 46px;
  font-weight: 300;
  line-height: 1.17;
  color: var(--white);
}
.hero__btn {
  font-size: var(--fs-20);
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--white);
  margin-top: 57px;
  padding: 20px 39px;
  border-radius: 4px;
  box-shadow: 0 0 30px 0 rgba(30, 136, 245, 0.9);
  background-color: var(--blue);
  border: 0;
  cursor: pointer;
}
.section1 {
  padding: 131px 0 55px 0;
  text-align: center;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}
.new-conten-holder {
  padding: 0 154px;
}
.section1__header {
  max-width: 626px;
  margin: 0 auto;
}
.section__title {
  font-size: 38px;
  font-weight: 300;
  color: var(--text-color);
}
.section__desc {
  margin-top: 27px;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.36;
  color: var(--text-color);
}
.new-for-tab {
  display: none;
}
.new-first-item {
  margin-top: 36px;
}
.new-content {
  display: inline-block;
  width: 219px;
}
.new__circle {
  display: inline-block;
  padding: 52px;
  background: var(--circle-color);
  border-radius: 100px;
  font-size: 35px;
  /* color: var(--text-color); */
}
.new__circle1 {
  margin-top: 33px;
}
.new__circle2 {
  margin-bottom: 33px;
}

.border-holder {
  position: relative;
}
.new-conten-holder2 {
  position: relative;
  bottom: 75px;
}
.new-conten-holder1 {
  position: relative;
  top: 73px;
  z-index: 5;
}
.new-border {
  margin: 0 auto;
  width: 172px;
  height: 132px;
  border: 4px dotted var(--border-color);
  position: absolute;
}
.new-border-right {
  border-left: none;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  top: 0px;
  right: 80px;
}
.new-border-left {
  border-right: none;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  top: 128px;
  left: 81px;
}
.new-border-line {
  border-top: 4px dotted var(--border-color);
  height: 128px;
  width: 730px;
  margin: 0 auto;
}
.new-border__bottom {
  height: 0;
}
.new__circle-blue {
  background-color: var(--blue);
  color: var(--white);
}
.new__circle-title {
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: 300px;
  color: var(--text-color);
}
.new__circle-title--active {
  color: var(--blue);
}
.new__ciccl-desc {
  font-size: var(--fs-18);
  font-weight: 300;
  line-height: 1.36;
  opacity: 0.4;
  color: var(--text-color);
}
/* ************************** */
.banner__holder {
  position: relative;
  height: 100vh;
}
.banner__bg {
  background-image: linear-gradient(
      to bottom,
      #071a2e -40%,
      rgba(24, 79, 136, 0.3)
    ),
    url(img/hero-4@2x.png);
  height: 645px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.banner {
  max-width: 467px;
  display: inline-block;
  padding-left: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.banner__desc {
  font-size: 40px;
  font-weight: 300;
  color: var(--white);
  text-shadow: 0 0 50px var(--text-color);
}
.banner__desc > span {
  font-weight: normal;
}
.banner__navigation {
  display: inline-block;
  font-size: var(--fs-20);
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--white);
  padding: 20px 39px;
  box-shadow: 0 0 20px 0 rgba(254, 203, 1, 0.4);
  background-color: var(--yellow);
  margin-top: 30px;
}
.banner__card {
  width: 660px;
  background-color: var(--white);
  padding: 55px 69px 55px 59px;
  border-radius: 4px;
  box-shadow: 0 0 60px 10px rgba(13, 37, 62, 0.1);
  margin-right: 20px;
}
.banner__card--title {
  font-size: 30px;
  font-weight: 300;
  color: var(--text-color);
}
.banner__card--desc {
  margin-top: 21px;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.45;
  opacity: 0.4;
  color: var(--text-color);
}
.mtb-20 {
  margin: 20px 0;
}
.banner__right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* ******************************* */
.card-container {
  max-width: 1090px;
  margin-left: auto;
  margin-right: auto;
}
.card-container__header {
  text-align: center;
  padding-top: 108px;
}
.card__holder > :first-child {
  margin-right: 60px;
}
.card__holder {
  margin-top: 95px;
  font-size: 0;
  text-align: center;
}
.card {
  display: inline-block;
  width: 510px;
  border-radius: 4px;
  box-shadow: 0 20px 60px 10px rgba(13, 37, 62, 0.05);
  border: solid 1px #eeeeee;
  background-color: var(--white);
  text-align: left;
}
.card__hero {
  padding: 56px 0 27px 0;
  text-align: center;
  color: var(--white);
}
.card__title {
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 6px;
  color: var(--white);
}
.card__price {
  margin-top: 8px;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--white);
}
.card__price > span {
  display: inline-block;
  font-size: var(--fs-20);
  position: relative;
  bottom: 12px;
}
.card__sub-title {
  margin-top: 25px;
  font-size: var(--fs-18);
  font-weight: 300;
  letter-spacing: 1.67;
}
.card__list-holder {
  padding: 22px 63px 60px 61px;
}
.card__list {
  margin-top: 34px;
  opacity: 0.9;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.36;
  color: var(--text-color);
}
.card__list-icon {
  margin-right: 23px;
}
.fs-18 {
  font-size: var(--fs-18);
  display: block;
  margin-left: 55px;
}
.card__btn-holder {
  text-align: center;
}
.card__list-btn {
  display: inline-block;
  font-size: var(--fs-20);
  font-weight: 500;
  padding: 20px 51px;
  border-radius: 4px;
  color: var(--white);
  margin-bottom: 60px;
}

.card2__holder {
  font-size: 0;
  margin: 140px 0;
}
.card2__container {
  display: inline-block;
  width: calc(100% / 3);
  text-align: center;
}
.card2 {
  max-width: 250px;
  margin: 0 auto;
}
.card2__circle-holder {
  display: inline-block;
  width: 150px;
  height: 150px;
  /* padding: 52px; */
  background-color: var(--circle-color);
  border-radius: 100px;
  font-size: 35px;
  color: var(--text-color);
  position: relative;
}
.card2__circle {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.card2__ciccle-btn {
  background-color: var(--white);
  font-size: 35px;
  border: 0;
  border-radius: 50px;
  position: absolute;
  top: 5px;
  right: 5px;
}
.card2__title {
  margin-top: 29px;
  color: var(--text-color);
  font-size: 28px;
  font-weight: 300;
}
.card2__desc {
  margin-top: 4px;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.36;
  color: var(--text-color);
  opacity: 0.4;
}
/* ************************ */
.footer {
  text-align: center;
  padding: 75px 20px;
  border-top: 1px solid #eeeeee;
}
.footer__logo {
  height: 20px;
  width: 132px;
  font-size: var(--fs-20);
  font-weight: bold;
  color: var(--text-color);
  opacity: 0.4;
  letter-spacing: 4px;
  margin: 25px 0;
}
.footer__logo,
.footer__item-holder,
.col {
  display: inline-block;
}
.footer__item {
  display: block;
}
.col {
  margin: 0 43px;
  text-align: left;
}
.col > :first-child {
  margin-bottom: 19px;
}
.footer__item {
  opacity: 0.25;
  font-size: var(--fs-18);
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--text-color);
}
/*************  */
/* *********** */

@media screen and (max-width: 1200px) {
  body {
    /* background-color: aqua; */
  }
  .logo {
    margin: 13px 0;
  }
  .nav-items {
    margin-right: 30px;
  }
  .nav-btn {
    padding: 13px 21px 15px 21px;
  }

  .hero__btn {
    padding: 18px 36px;
  }
  .new-conten-holder {
    padding: 0 120px;
  }
  .new-border {
    width: 230px;
  }
  .new-content {
    width: 192px;
  }
  .new-border-line {
    width: 609px;
  }
  .banner__card {
    max-width: 445px;
    padding: 45px 40px 45px 40px;
  }
  .banner__card--desc {
    font-size: var(--fs-18);
  }
  .card {
    width: 420px;
  }

  .card__list {
    font-size: 19px;
  }
  .card__list-holder {
    padding: 22px 40px 60px 40px;
  }
  .card2__desc {
    font-size: var(--fs-20);
  }
  .footer__item-holder {
    float: none;
  }
  .col {
    margin: 0 30px;
  }
}
/* *********************************************** */
@media screen and (max-width: 900px) {
  body {
    /* background-color: coral; */
  }
  .nav-holder {
    padding: 41px 11px;
  }
  .logo {
    margin: 8px 0;
  }
  .nav-items {
    font-size: var(--fs-16);
    margin-right: 16px;
  }
  .nav-btn {
    font-size: var(--fs-16);
    padding: 10px 19px 13px 18px;
  }

  .hero {
    width: 650px;
  }
  .section1__new-holder {
    display: none;
  }
  .section__desc {
    margin-bottom: 40px;
  }
  .new-for-tab {
    display: block;
    position: relative;
  }
  .border__container {
    position: relative;
    padding: 200px 0;
  }
  .new-content__row {
    position: absolute;
    z-index: 5;
    padding: 0 123px;
    width: 100%;
  }
  .new-content__row1 {
    top: 32px;
  }
  .new-content__row2 {
    top: 375px;
  }
  .new-content__row3 {
    bottom: 30px;
  }
  .border-holder2 {
    position: relative;
    bottom: 3px;
  }
  .new-border-line {
    width: 320px;
  }
  .new__circle {
    padding: 48px;
    font-size: 25px;
  }
  .new-first-item > p {
    padding-top: 12px;
  }
  /* *************************** */
  .card__holder > :first-child {
    margin: 0 0 60px 0;
  }
  .card2__container {
    width: calc(100% / 1);
    margin: 20px 0;
  }
  /* *************************** */
  .card__holder > :first-child {
    margin: 0 auto 60px auto;
  }
  .card {
    width: 420px;
    display: block;
    margin: 0 auto;
  }

  .col {
    margin: 0 30px 40px 0;
    text-align: center;
  }
  .col:last-child {
    margin-right: 0;
  }
  .banner__bg {
    text-align: center;
    height: 100vh;
  }
  .banner {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .banner__navigation {
    padding: 17px 19px;
  }

  .banner__desc {
    font-size: 30px;
  }
  .banner__card {
    max-width: 600px;
    margin-right: 0;
  }
  .banner__right {
    position: absolute;
    top: 65%;
    left: 50%;
    right: unset;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 650px) {
  body {
    /* background-color: turquoise; */
  }

  .nav-holder {
    padding: 41px 25px;
  }
  .header__mobi {
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
  }
  .logo {
    font-size: var(--fs-14);
    width: fit-content;
  }
  .hidden {
    display: none;
  }
  .menu-icon {
    display: inline-block;
    border: 0;
    background-color: transparent;
    color: var(--white);
    font-size: var(--fs-20);
    margin: 5px;
  }
  .nav-items {
    font-size: var(--fs-14);
    display: block;
    margin: 25px 0;
  }
  .navbar {
    text-align: center;
    float: none;
    margin: 40px 0;
  }
  .hero {
    max-width: 100%;
  }
  .hero__desc {
    font-size: 30px;
  }
  .hero__btn {
    font-size: var(--fs-18);
    padding: 18px 30px;
  }

  .new-for-tab {
    display: none;
  }
  .new__mobi-border {
    border-left: 4px dotted var(--border-color);
    height: 80%;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    z-index: -1;
  }
  .new-content {
    margin: 80px 0;
    display: block;
    width: 100%;
    background-color: var(--white);
  }
  .new__circle {
    padding: 35px;
    font-size: var(--fs-20);
  }
  .new__circle2 {
    margin-bottom: 15px;
  }
  .new-first-item > p {
    padding-top: 0;
  }
  .new__circle-title {
    margin: 0 0 0 0;
    font-size: var(--fs-18);
  }
  .new__ciccl-desc {
    font-size: var(--fs-14);
    margin-top: 10px;
  }
  .new-for-mobi {
    display: block;
    position: relative;
  }
  .section1 {
    padding: 80px 0 55px 0;
  }
  .section__title {
    font-size: 28px;
  }
  .section__desc {
    font-size: var(--fs-18);
    margin-bottom: 0;
  }
  .banner {
    width: 260px;
  }
  .banner__right {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .banner__desc {
    font-size: var(--fs-20);
  }
  .banner__navigation {
    margin-top: 12px;
    font-size: var(--fs-16);
    padding: 10px;
    width: 100%;
  }
  .banner__card {
    width: 300px;
    padding: 20px;
  }
  .banner__card--desc {
    margin-top: 12px;
    font-size: var(--fs-14);
    line-height: unset;
  }
  .banner__card--title {
    font-size: var(--fs-18);
  }
  .card-container__header {
    padding-top: 80px;
  }
  .card__holder {
    margin-top: 75px;
  }
  .card__holder > :first-child {
    margin: 0 auto 60px auto;
  }
  .card {
    width: 320px;
    display: block;
    margin: 0 auto;
  }
  .card__hero {
    padding: 30px 0 20px 0;
  }
  .card__title {
    font-size: var(--fs-20);
  }
  .card__price {
    font-size: 40px;
  }
  .card__price > span {
    font-size: var(--fs-16);
    position: relative;
    bottom: 7px;
  }
  .card__sub-title {
    font-size: 15px;
    margin-top: 10px;
  }
  .card__list-holder {
    padding: 10px 20px 30px 20px;
  }
  .card__list {
    margin-top: 25px;
    font-size: var(--fs-16);
  }
  .fs-18 {
    font-size: 12px;
    margin-left: 32px;
  }
  .card__list-icon {
    margin-right: 12px;
  }
  .card__list-btn {
    font-size: var(--fs-16);
    margin-bottom: 40px;
    padding: 14px 20px;
  }
  .card2__holder {
    margin: 80px 0;
  }
  .card2__circle-holder {
    width: 115px;
    height: 115px;
    font-size: 28px;
  }
  .card2__title {
    font-size: 20px;
  }
  .card2__desc {
    font-size: var(--fs-16);
  }
  .footer {
    padding: 30px 0;
  }
  .footer__logo {
    margin: 35px 0;
  }
  .footer__item-holder,
  .col {
    display: block;
  }
  .col {
    margin: 0 0 40px 0;
  }
  .footer__item {
    font-size: 12px;
    width: fit-content;
    display: block;
    margin: 0 auto;
  }
}
