@media screen and (max-width: 1200px) {
  body {
    /* background-color: aqua; */
  }
  .logo {
    margin: 13px 0;
  }
  .nav-items {
    margin-right: 30px;
  }
  .nav-btn {
    padding: 13px 21px 15px 21px;
  }

  .hero1__btn {
    padding: 18px 36px;
  }
  .new-conten-holder {
    padding: 0 120px;
  }
  .new-border {
    width: 230px;
  }
  .new-content {
    width: 192px;
  }
  .new-border-line {
    width: 609px;
  }
  .hero2__card {
    max-width: 445px;
    padding: 45px 40px 45px 40px;
  }
  .hero2__card--desc {
    font-size: 18px;
  }
  .card {
    width: 420px;
  }

  .card__list {
    font-size: 19px;
  }
  .card__list-holder {
    padding: 22px 40px 60px 40px;
  }
  .card2__desc {
    font-size: 20px;
  }
  .footer__item-holder {
    float: none;
  }
  .col {
    margin: 0 30px;
  }
}
/* *********************************************** */
@media screen and (max-width: 900px) {
  body {
    /* background-color: coral; */
  }
  .nav-holder {
    padding: 41px 11px;
  }
  .logo {
    margin: 8px 0;
  }
  .nav-items {
    font-size: 16px;
    margin-right: 16px;
  }
  .nav-btn {
    font-size: 16px;
    padding: 10px 19px 13px 18px;
  }

  .hero1 {
    width: 650px;
  }
  .section1__new-holder {
    display: none;
  }
  .section__desc {
    margin-bottom: 40px;
  }
  .new-for-tab {
    display: block;
    position: relative;
  }
  .border__container {
    position: relative;
    padding: 200px 0;
  }
  .new-content__row {
    position: absolute;
    z-index: 5;
    padding: 0 123px;
    width: 100%;
  }
  .new-content__row1 {
    top: 32px;
  }
  .new-content__row2 {
    top: 375px;
  }
  .new-content__row3 {
    bottom: 30px;
  }
  .border-holder2 {
    position: relative;
    bottom: 3px;
  }
  .new-border-line {
    width: 320px;
  }
  .new__circle {
    padding: 48px;
    font-size: 25px;
  }
  .new-first-item > p {
    padding-top: 12px;
  }
  /* *************************** */
  .card__holder > :first-child {
    margin: 0 0 60px 0;
  }
  .card2__container {
    width: calc(100% / 1);
    margin: 20px 0;
  }
  /* *************************** */

  .col {
    margin: 0 30px 40px 0;
    text-align: center;
  }
  .col:last-child {
    margin-right: 0;
  }
  .hero2__bg {
    text-align: center;
    height: 100vh;
  }
  .hero2 {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero2__navigation {
    padding: 17px 19px;
  }

  .hero2__desc {
    font-size: 30px;
  }
  .hero2__card {
    max-width: 600px;
    margin-right: 0;
  }
  .hero2__right {
    position: absolute;
    top: 65%;
    left: 50%;
    right: unset;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 650px) {
  body {
    /* background-color: turquoise; */
  }
  .logo {
    font-size: 14px;
    width: fit-content;
  }
  .hidden {
    display: none;
  }
  .nav-items {
    font-size: 14px;
    display: block;
    margin: 15px 0;
  }
  .navbar {
    text-align: center;
    float: none;
  }
  .hero1 {
    max-width: 100%;
  }
  .hero1__desc {
    font-size: 30px;
  }
  .hero1__btn {
    font-size: 18px;
    padding: 18px 30px;
  }

  .new-for-tab {
    display: none;
  }
  .new__mobi-border {
    border-left: 4px dotted #e8edf2;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    z-index: -1;
  }
  .new-content {
    margin: 80px 0;
    display: block;
    width: 100%;
    background-color: #ffffff;
  }
  .new__circle {
    padding: 35px;
    font-size: 20px;
  }
  .new__circle2 {
    margin-bottom: 15px;
  }
  .new-first-item > p {
    padding-top: 0;
  }
  .new__circle-title {
    margin: 0 0 0 0;
    font-size: 18px;
  }
  .new__ciccl-desc {
    font-size: 14px;
    margin-top: 10px;
  }
  .new-for-mobi {
    display: block;
    position: relative;
  }
  .section1 {
    padding: 80px 0 55px 0;
  }
  .section__title {
    font-size: 28px;
  }
  .section__desc {
    font-size: 18px;
    margin-bottom: 0;
  }
  .hero2 {
    width: 260px;
  }
  .hero2__right {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero2__desc {
    font-size: 20px;
  }
  .hero2__navigation {
    margin-top: 12px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }
  .hero2__card {
    width: 300px;
    padding: 20px;
  }
  .hero2__card--desc {
    margin-top: 12px;
    font-size: 14px;
    line-height: unset;
  }
  .hero2__card--title {
    font-size: 18px;
  }
  .card-container__header {
    padding-top: 80px;
  }
  .card__holder {
    margin-top: 75px;
  }
  .card__holder > :first-child {
    margin: 0 auto 60px auto;
  }
  .card {
    width: 320px;
    display: block;
    margin: 0 auto;
  }
  .card__hero {
    padding: 30px 0 20px 0;
  }
  .card__title {
    font-size: 20px;
  }
  .card__price {
    font-size: 40px;
  }
  .card__price > span {
    font-size: 16px;
    position: relative;
    bottom: 7px;
  }
  .card__sub-title {
    font-size: 15px;
    margin-top: 10px;
  }
  .card__list-holder {
    padding: 10px 20px 30px 20px;
  }
  .card__list {
    margin-top: 25px;
    font-size: 16px;
  }
  .fs-18 {
    font-size: 12px;
    margin-left: 32px;
  }
  .card__list-icon {
    margin-right: 12px;
  }
  .card__list-btn {
    font-size: 16px;
    margin-bottom: 40px;
    padding: 14px 20px;
  }
  .footer {
    padding: 30px 0;
  }
  .footer__logo {
    margin: 35px 0;
  }
  .footer__item-holder,
  .col {
    display: block;
  }
  .col {
    margin: 0 0 40px 0;
  }
  .footer__item {
    font-size: 12px;
  }
}
